<h1> Section I - Company and Mentor Information   </h1>

<label for="name">Contact Name: </label>
<input id="Contact name:" type="text" required= "true" [formControl]="name">
<br><br>

<label for="name">Contact Job Title: </label>
<input id="Contact Job Title:" type="text"  required= "true"  [formControl]="name"> <br><br>

<label for="name">Contact Email: </label>
<input id="Contact Email type:" type="text" [formControl]="name"> <br><br>

<label for="name">Contact Phone: </label>
<input id="Contact Phone:" type="number" [formControl]="name"> <br><br>

<label for="name">Organization/Company Name: </label>
<input id="Organization/Company Name:" type="text" [formControl]="name"> <br><br>

<label for="name">Organization Address: </label>
<input id="Organization Address" type="text" [formControl]="name"> <br><br>

<label for="name">Organization Website: </label>
<input id="Organization Website" type="text" [formControl]="name"> 

<h2> Section II - Project for Which Students Will Participate  </h2>

<label for="Project Title">Project Title: </label>
<input id="Project Title:" type="text" [formControl]="name"> <br><br>

<label for="Description of Project">Description of Project: </label>
<br> (Please give a brief description of the project, including background, problem statement, and objectives) <br>
<input id="Description of Project:"type="text" [formControl]="name"> <br><br>

<label for="What technical skills/requirements should your ideal students have for this project?">What technical skills/requirements should your ideal students have for this project? </label>
<input id="Technical Skills"type="text" [formControl]="name">  <br><br>

<label for="Duties of the Students ">Duties of the Students : </label>
<br> (Please indicate the tasks/deliverables and the approximate amount of time the students will spend on each as a percentage of their overall time.) <br>
<input id="Duties of the Students "type="text" [formControl]="name"> <br><br>

<label for="What is the benefit of this project to the students?">What is the benefit of this project to the students? </label>
<br>  (Please indicate how the project benefits the student’s educational and professional growth) <br>
<input id="Benefit of this project "type="text" [formControl]="name"> <br><br>

<label for="What will the company provide to students to carry out this project?">What will the company provide to students to carry out this project?(Such as training, data, equipment, traveling, etc.) </label>
<input id="Company provide to students to carry out this project"type="text" [formControl]="name"> 




